.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0,0,0,.24);
}

.mat-list-item.active {

  transition: border-width 0.1s ease-in-out;
  border-right: 4px solid #d84315;
  background-color: rgba(0, 0, 0, 0.08);

}